## load allthebacteria metadata (what seems to be the most interesting file for now)

In [1]:
import pandas as pd
from pathlib import Path


MD_PATH = Path("/home/cyrille/dev/microtaxo/data/metadata")


# content = MD_PATH / "assembly-stats.decontam.tsv"
content = MD_PATH / "ena_metadata.tsv"
df = pd.read_csv(content, sep="\t")
df

/tmp/ipykernel_339313/3982220849.py:10: DtypeWarning: Columns (5,6,8,9,10,11,12,13,14,15,20,21,22,25,26,27,28,30,31,36,39,41,42,46,47,48,51,52,55,56,58,59,60,62,63,64,66,68,69,70,72,73,77,79,80,83,89,90,91,92,99,100,102,103,112,115,116) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(content, sep="\t")

,sample_accession,run_accession,submission_accession,assembly_software,library_selection,serotype,environment_feature,last_updated,submitted_galaxy,germline,...,taxonomic_classification,protocol_label,elevation,salinity,sequencing_method,first_public,study_alias,ph,tissue_type,isolation_source
0,SAMD00008604,DRR008449,DRA000969,NaN,RANDOM,NaN,NaN,2015-06-19,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-04-28,DRP001007,NaN,NaN,NaN
1,SAMD00002817,DRR016177,DRA001721,NaN,size fractionation,NaN,NaN,2018-10-02,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-10-02,PRJDB1847,NaN,NaN,NaN
2,SAMD00019027,DRR021788,DRA002419,NaN,RANDOM,NaN,NaN,2017-10-21,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017-10-21,PRJDB2736,NaN,NaN,NaN
3,SAMD00019237,DRR022206,DRA002431,NaN,RANDOM,NaN,NaN,2021-12-28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-12-28,DRP008013,NaN,NaN,NaN
4,SAMD00019241,DRR022210,DRA002431,NaN,RANDOM,NaN,NaN,2021-12-28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-12-28,DRP008013,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943488,SAMN10405967,SRR8179222,SRA808114,NaN,RANDOM,Heidelberg,NaN,2018-11-10,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2018-11-10,PRJNA242847,NaN,NaN,comminuted beef
1943489,SAMN10405968,SRR8179219,SRA808111,NaN,RANDOM,Anatum,NaN,2018-11-10,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2018-11-10,PRJNA242847,NaN,NaN,comminuted beef
1943490,SAMN10407504,SRR8180444,SRA808182,NaN,RANDOM,not typed,NaN,2018-11-10,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2018-11-10,PRJNA212117,NaN,NaN,blood
1943491,SAMN10407505,SRR8180405,SRA808181,NaN,RANDOM,not typed,NaN,2018-11-10,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2018-11-10,PRJNA212117,NaN,NaN,placenta
1943492,SAMN10407507,SRR8180452,SRA808179,NaN,RANDOM,not typed,NaN,2018-11-10,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2018-11-10,PRJNA212117,NaN,NaN,NaN

## check columns names/values

In [2]:
df.iloc[0].to_dict()

{'sample_accession': 'SAMD00008604',
 'run_accession': 'DRR008449',
 'submission_accession': 'DRA000969',
 'assembly_software': nan,
 'library_selection': 'RANDOM',
 'serotype': nan,
 'environment_feature': nan,
 'last_updated': '2015-06-19',
 'submitted_galaxy': nan,
 'germline': nan,
 'culture_collection': nan,
 'submission_tool': nan,
 'sra_bytes': 130004514.0,
 'collected_by': nan,
 'submitted_ftp': nan,
 'isolate': nan,
 'fastq_bytes': '132346864;79650546',
 'instrument_platform': 'ILLUMINA',
 'variety': nan,
 'temperature': nan,
 'sra_aspera': 'fasp.sra.ebi.ac.uk:/vol1/drr/DRR008/DRR008449',
 'ecotype': nan,
 'submitted_aspera': nan,
 'sampling_campaign': nan,
 'tissue_lib': nan,
 'environmental_sample': nan,
 'sex': nan,
 'submitted_md5': nan,
 'checklist': nan,
 'fastq_galaxy': 'ftp.sra.ebi.ac.uk/vol1/fastq/DRR008/DRR008449/DRR008449_1.fastq.gz;ftp.sra.ebi.ac.uk/vol1/fastq/DRR008/DRR008449/DRR008449_2.fastq.gz',
 'specimen_voucher': nan,
 'submitted_bytes': nan,
 'taxonomic_identity_marker': nan,
 'country': nan,
 'sample_description': '168-B',
 'experiment_title': 'Illumina Genome Analyzer IIx sequencing; Whole genome re-sequencing of Bacillus subtilis 168 from the laboratory B;Whole genome re-sequencing of Bacillus subtilis 168 from the laboratory B',
 'sra_galaxy': 'ftp.sra.ebi.ac.uk/vol1/drr/DRR008/DRR008449',
 'fastq_md5': 'f2ade9a77872c9506f74bd98c39ef567;728c363d6f7b5833e6fcafd74b6e7039',
 'secondary_study_accession': 'DRP001007',
 'read_count': 2062118,
 'study_title': 'Resequence Analysis of B. subtilis laboratory strains',
 'bio_material': nan,
 'host_body_site': nan,
 'assembly_quality': nan,
 'sample_capture_status': nan,
 'sample_title': '168-B',
 'host_genotype': nan,
 'host_phenotype': nan,
 'cultivar': nan,
 'instrument_model': 'Illumina Genome Analyzer IIx',
 'target_gene': nan,
 'nominal_sdev': nan,
 'environment_material': nan,
 'host_tax_id': nan,
 'sample_material': nan,
 'sra_md5': '5c46681343408da7031a5dca07a21573',
 'cell_type': nan,
 'fastq_ftp': 'ftp.sra.ebi.ac.uk/vol1/fastq/DRR008/DRR008449/DRR008449_1.fastq.gz;ftp.sra.ebi.ac.uk/vol1/fastq/DRR008/DRR008449/DRR008449_2.fastq.gz',
 'broker_name': nan,
 'sub_strain': nan,
 'base_count': 309317700,
 'library_strategy': 'WGS',
 'serovar': nan,
 'investigation_type': nan,
 'location': nan,
 'library_source': 'GENOMIC',
 'sra_ftp': 'ftp.sra.ebi.ac.uk/vol1/drr/DRR008/DRR008449',
 'library_layout': 'PAIRED',
 'experimental_factor': nan,
 'environment_biome': nan,
 'dev_stage': nan,
 'binning_software': nan,
 'sample_collection': nan,
 'nominal_length': nan,
 'completeness_score': nan,
 'lon': nan,
 'fastq_aspera': 'fasp.sra.ebi.ac.uk:/vol1/fastq/DRR008/DRR008449/DRR008449_1.fastq.gz;fasp.sra.ebi.ac.uk:/vol1/fastq/DRR008/DRR008449/DRR008449_2.fastq.gz',
 'host_sex': nan,
 'sample_alias': 'SAMD00008604',
 'mating_type': nan,
 'sub_species': 'subtilis',
 'contamination_score': nan,
 'run_alias': 'DRR008449',
 'depth': nan,
 'host_growth_conditions': nan,
 'collection_date': nan,
 'experiment_alias': 'DRX007637',
 'host_gravidity': nan,
 'center_name': 'TUAGRI',
 'identified_by': nan,
 'cell_line': nan,
 'sampling_site': nan,
 'host': nan,
 'library_name': '168-B',
 'first_created': '2014-04-28',
 'lat': nan,
 'strain': '168',
 'experiment_accession': 'DRX007637',
 'scientific_name': 'Bacillus subtilis subsp. subtilis str. 168',
 'host_status': nan,
 'tax_id': 224308.0,
 'study_accession': 'PRJDB1076',
 'submitted_format': nan,
 'submitted_host_sex': nan,
 'altitude': nan,
 'accession': 'DRR008449',
 'secondary_sample_accession': 'DRS007578',
 'sampling_platform': nan,
 'taxonomic_classification': nan,
 'protocol_label': nan,
 'elevation': nan,
 'salinity': nan,
 'sequencing_method': nan,
 'first_public': '2014-04-28',
 'study_alias': 'DRP001007',
 'ph': nan,
 'tissue_type': nan,
 'isolation_source': nan}

## basic exploration

In [3]:
len(df.columns)

118

In [4]:
# nothing there
df["taxonomic_classification"].unique()

array([nan])

In [5]:
# nothing there
df["taxonomic_identity_marker"].unique()

array([nan])

In [6]:
# looks interesting
df["tax_id"].unique()

array([224308.0, 1280.0, 562.0, ..., 2486975, 2486976, 2486977],
      dtype=object)

In [7]:
df["scientific_name"].unique()

array(['Bacillus subtilis subsp. subtilis str. 168',
       'Staphylococcus aureus', 'Escherichia coli', ...,
       'Campylobacter sp. OH-18-19611-1',
       'Campylobacter sp. OH-18-19102-CU',
       'Campylobacter sp. OH-18-15554-1'], dtype=object)

## populate API cache

In [8]:
from urllib.error import HTTPError
from Bio import Entrez
from diskcache import Cache
from tqdm.auto import tqdm

Entrez.email = "cyrille.leroux@irisa.fr"
CACHE_DIR = "/data/microtaxo/apicache"
cache = Cache(CACHE_DIR)

# ~4-5h without API key
errors = list()
unique_tax_ids = list()

def get_api_data(tax_id):
    # error: not a number / None
    if pd.isna(tax_id):
        errors.append(tax_id)
        return None      
    
    # float/string -> int
    try:        
        tax_id = int(tax_id)
    except ValueError:
        errors.append(tax_id)
        return None
    
    # hit cache
    if tax_id in cache:
        unique_tax_ids.append(tax_id)
        return cache[tax_id]
    
     # API call + cache
    try:
        handle = Entrez.efetch(db="taxonomy", id=str(tax_id), retmode="xml")
        records = Entrez.read(handle)
        cache[tax_id] = records
        unique_tax_ids.append(tax_id)
        return records
    except HTTPError:
        errors.append(tax_id)

    return None

    


for tax_id in tqdm(df["tax_id"].unique()):
    get_api_data(tax_id)

/home/cyrille/.cache/pypoetry/virtualenvs/microtaxo-SPpTyrCZ-py3.10/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
100%|██████████| 38659/38659 [00:01<00:00, 21667.00it/s]

In [9]:
# extra tax_id
extra_tax_ids = set()
for tax_id in tqdm(unique_tax_ids):
    if tax_id in cache:
        if tdata := cache[tax_id]:
            extra_tax_ids.update([int(lin["TaxId"]) for lin in tdata[0].get("LineageEx", {})])
for tax_id in tqdm(extra_tax_ids):
    get_api_data(tax_id)
extra_tax_ids = list(extra_tax_ids)

100%|██████████| 38511/38511 [00:01<00:00, 20910.80it/s]
100%|██████████| 6566/6566 [00:00<00:00, 19402.52it/s]

### let's see what wrong with rejected tax_ids

In [10]:
# it looks like multiple values in single field: we may or may not do something about it later
len(errors), len(unique_tax_ids), len(extra_tax_ids), errors

(148,
 45077,
 6566,
 [nan,
  '54736,33035',
  '33035,83558',
  '1313,561276',
  '561276,1313',
  '28449,486',
  '34026,486',
  '34026,488',
  '488,1906581',
  '33053,488',
  '267212,488',
  '486,495',
  '488,28449',
  '488,28091',
  '488,267212',
  '33053,486',
  '483,486',
  '28449,490',
  '28449,488',
  '482,486',
  '194197,486',
  '489,28449',
  '28449,34026',
  '28449,33053',
  '488,486',
  '493,486',
  '488,483',
  '489,483',
  '28449,483',
  '90368,483',
  '483,489',
  '727,726',
  '729,727',
  '727,729',
  '729,726',
  '726,729',
  '119912,57046',
  '119912,590',
  '41529,119912',
  '41529,590',
  '57046,119912',
  '590,41529',
  '273136,813',
  '813,273136',
  '149539,98360',
  '98360,149539',
  '1781,1806',
  '1806,1781',
  '1773,33894',
  '33894,1773',
  '1765,1773',
  '818,823',
  '823,821',
  '363265,823',
  '29485,33060',
  '33060,29485',
  '631,633',
  '633,631',
  '633,29484',
  '633,33060',
  '29486,633',
  '630,633',
  '633,28152',
  '631,29484',
  '29485,29484',
  '631,29485',
  '29484,634',
  '29484,33060',
  '1288385,29484',
  '631,28152',
  '33060,631',
  '29485,631',
  '263819,633',
  '28152,29484',
  '33060,29484',
  '29484,29485',
  '634,29484',
  '633,367190',
  '367190,633',
  '28152,633',
  '29484,419257',
  '263819,29484',
  '28152,631',
  '29484,631',
  '631,33060',
  '633,419257',
  '630,29484',
  '1314,119602',
  '119602,1314',
  '244366,573',
  '573,244366',
  '1463165,573',
  '573,1463165',
  '90370,54388',
  '54388,90370',
  '54388,57046',
  '57046,54388',
  '813,470',
  '813,83555',
  '83555,813',
  '149387,149386',
  '82689,28147',
  '260677,28147',
  '913076,28147',
  '28147,70803',
  '28147,149386',
  '363569,28147',
  '82689,115981',
  '165302,115981',
  '486988,115981',
  '115981,28147',
  '149387,115981',
  '1160751,115981',
  '363569,115981',
  '1160747,149386',
  '486993,149386',
  '149386,363569',
  '149386,913076',
  '486988,363569',
  '363569,149386',
  '1151002,363569',
  '363569,165302',
  '363569,29472',
  '115981,363569',
  '82689,363569',
  '29472,28147',
  '149387,28147',
  '1160739,28147',
  '224729,57045',
  '57045,224729',
  '54736,28901',
  '595,149385',
  '149385,595',
  '195,197',
  '197,195',
  '1813019,197',
  '706436,762963',
  '706434,749489',
  '749496,749492,706433',
  '749491,748224,749497',
  '749529,749535',
  '762966,762968,626939',
  '749537,749527',
  '765065,765070,765105,765096',
  '765103,765084,765075,765115,765111,765085',
  '765066,765117,765068,765107,765112',
  '765072,765097',
  '765069,765118'])

In [11]:
from pprint import pprint
# visualize first entry (check what's available)
tax_id = list(cache)[0]
pprint(dict(cache[tax_id][0]))

{'CreateDate': '2002/05/08 12:00:00',
 'Division': 'Bacteria',
 'GeneticCode': {'GCId': '11', 'GCName': 'Bacterial, Archaeal and Plant Plastid'},
 'Lineage': 'cellular organisms; Bacteria; Bacillati; Bacillota; Bacilli; Bacillales; Bacillaceae; Bacillus; Bacillus subtilis group; Bacillus subtilis; Bacillus subtilis subsp. subtilis',
 'LineageEx': [{'TaxId': '131567', 'ScientificName': 'cellular organisms', 'Rank': 'no rank'}, {'TaxId': '2', 'ScientificName': 'Bacteria', 'Rank': 'superkingdom'}, {'TaxId': '1783272', 'ScientificName': 'Bacillati', 'Rank': 'kingdom'}, {'TaxId': '1239', 'ScientificName': 'Bacillota', 'Rank': 'phylum'}, {'TaxId': '91061', 'ScientificName': 'Bacilli', 'Rank': 'class'}, {'TaxId': '1385', 'ScientificName': 'Bacillales', 'Rank': 'order'}, {'TaxId': '186817', 'ScientificName': 'Bacillaceae', 'Rank': 'family'}, {'TaxId': '1386', 'ScientificName': 'Bacillus', 'Rank': 'genus'}, {'TaxId': '653685', 'ScientificName': 'Bacillus subtilis group', 'Rank': 'species group'}, {'TaxId': '1423', 'ScientificName': 'Bacillus subtilis', 'Rank': 'species'}, {'TaxId': '135461', 'ScientificName': 'Bacillus subtilis subsp. subtilis', 'Rank': 'subspecies'}],
 'MitoGeneticCode': {'MGCId': '0', 'MGCName': 'Unspecified'},
 'OtherNames': {'Misnomer': [], 'Teleomorph': [], 'Synonym': ['Bacillus subtilis 168', 'Bacillus subtilis subsp. subtilis 168', 'Bacillus subtilis subsp. subtilis str. BGSC 1A700'], 'Acronym': [], 'Anamorph': [], 'EquivalentName': [], 'GenbankAnamorph': [], 'CommonName': [], 'Name': [], 'GenbankSynonym': [], 'Misspelling': [], 'Includes': [], 'Inpart': []},
 'ParentTaxId': '135461',
 'PubDate': '2003/03/15 18:01:00',
 'Rank': 'strain',
 'ScientificName': 'Bacillus subtilis subsp. subtilis str. 168',
 'TaxId': '224308',
 'UpdateDate': '2015/07/30 14:00:50'}

## compute some stats

In [12]:
# before stats: cache -> dict + convertion (easier to handle)
data = {tax_id: dict(cache[tax_id][0]) for tax_id in unique_tax_ids + extra_tax_ids if cache[tax_id]}
print(len(data))  # only valid entries
# sample
pprint(data[367830])

42924
{'CreateDate': '2006/01/23 11:41:48',
 'Division': 'Bacteria',
 'GeneticCode': {'GCId': '11', 'GCName': 'Bacterial, Archaeal and Plant Plastid'},
 'Lineage': 'cellular organisms; Bacteria; Bacillati; Bacillota; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; Staphylococcus aureus',
 'LineageEx': [{'TaxId': '131567', 'ScientificName': 'cellular organisms', 'Rank': 'no rank'}, {'TaxId': '2', 'ScientificName': 'Bacteria', 'Rank': 'superkingdom'}, {'TaxId': '1783272', 'ScientificName': 'Bacillati', 'Rank': 'kingdom'}, {'TaxId': '1239', 'ScientificName': 'Bacillota', 'Rank': 'phylum'}, {'TaxId': '91061', 'ScientificName': 'Bacilli', 'Rank': 'class'}, {'TaxId': '1385', 'ScientificName': 'Bacillales', 'Rank': 'order'}, {'TaxId': '90964', 'ScientificName': 'Staphylococcaceae', 'Rank': 'family'}, {'TaxId': '1279', 'ScientificName': 'Staphylococcus', 'Rank': 'genus'}, {'TaxId': '1280', 'ScientificName': 'Staphylococcus aureus', 'Rank': 'species'}],
 'MitoGeneticCode': {'MGCId': '0', 'MGCName': 'Unspecified'},
 'OtherNames': {'Misnomer': [], 'Teleomorph': [], 'Synonym': [], 'Acronym': [], 'Anamorph': [], 'EquivalentName': ['Staphylococcus aureus subsp. aureus str. USA300', 'Staphylococcus aureus subsp. aureus strain USA300'], 'GenbankAnamorph': [], 'CommonName': [], 'Name': [], 'GenbankSynonym': [], 'Misspelling': [], 'Includes': [], 'Inpart': []},
 'ParentTaxId': '1280',
 'PubDate': '2006/02/11 18:00:11',
 'Rank': 'strain',
 'ScientificName': 'Staphylococcus aureus subsp. aureus USA300',
 'TaxId': '367830',
 'UpdateDate': '2018/11/23 17:31:12'}

## check content

In [13]:
# available ranks
ranks = set()
for values in tqdm(data.values()):
    if values:
        for le in values.get("LineageEx", {}):
            if le:
                ranks.add(le["Rank"])
ranks

100%|██████████| 42924/42924 [00:00<00:00, 453050.31it/s]

{'biotype',
 'clade',
 'class',
 'family',
 'genus',
 'kingdom',
 'no rank',
 'order',
 'pathogroup',
 'phylum',
 'serogroup',
 'serotype',
 'species',
 'species group',
 'species subgroup',
 'strain',
 'subclass',
 'subfamily',
 'subgenus',
 'suborder',
 'subspecies',
 'superkingdom',
 'tribe'}

In [14]:
# interesting sample (contains special ranks)
data[561275]

{'TaxId': '561275',
 'ScientificName': 'Mycobacterium tuberculosis variant bovis BCG str. Tokyo 172',
 'OtherNames': {'Misnomer': [], 'Teleomorph': [], 'Synonym': ['Mycobacterium bovis BCG str. Tokyo 172'], 'Acronym': [], 'Anamorph': [], 'EquivalentName': ['Mycobacterium bovis BCG Tokyo 172', 'Mycobacterium bovis BCG strain Tokyo 172'], 'GenbankAnamorph': [], 'CommonName': [], 'Name': [], 'GenbankSynonym': [], 'Misspelling': [], 'Includes': [], 'Inpart': []},
 'ParentTaxId': '33892',
 'Rank': 'strain',
 'Division': 'Bacteria',
 'GeneticCode': {'GCId': '11', 'GCName': 'Bacterial, Archaeal and Plant Plastid'},
 'MitoGeneticCode': {'MGCId': '0', 'MGCName': 'Unspecified'},
 'Lineage': 'cellular organisms; Bacteria; Bacillati; Actinomycetota; Actinomycetes; Mycobacteriales; Mycobacteriaceae; Mycobacterium; Mycobacterium tuberculosis complex; Mycobacterium tuberculosis; Mycobacterium tuberculosis variant bovis; Mycobacterium tuberculosis variant bovis BCG',
 'LineageEx': [{'TaxId': '131567', 'ScientificName': 'cellular organisms', 'Rank': 'no rank'}, {'TaxId': '2', 'ScientificName': 'Bacteria', 'Rank': 'superkingdom'}, {'TaxId': '1783272', 'ScientificName': 'Bacillati', 'Rank': 'kingdom'}, {'TaxId': '201174', 'ScientificName': 'Actinomycetota', 'Rank': 'phylum'}, {'TaxId': '1760', 'ScientificName': 'Actinomycetes', 'Rank': 'class'}, {'TaxId': '85007', 'ScientificName': 'Mycobacteriales', 'Rank': 'order'}, {'TaxId': '1762', 'ScientificName': 'Mycobacteriaceae', 'Rank': 'family'}, {'TaxId': '1763', 'ScientificName': 'Mycobacterium', 'Rank': 'genus'}, {'TaxId': '77643', 'ScientificName': 'Mycobacterium tuberculosis complex', 'Rank': 'species group'}, {'TaxId': '1773', 'ScientificName': 'Mycobacterium tuberculosis', 'Rank': 'species'}, {'TaxId': '1765', 'ScientificName': 'Mycobacterium tuberculosis variant bovis', 'Rank': 'biotype'}, {'TaxId': '33892', 'ScientificName': 'Mycobacterium tuberculosis variant bovis BCG', 'Rank': 'no rank'}],
 'CreateDate': '2008/09/17 12:37:44',
 'UpdateDate': '2018/11/23 17:53:12',
 'PubDate': '2008/10/15 18:00:10'}

## get all valid tax_id in dataframe

In [15]:

def clean_tax_id(tax_id):   
    try:        
        return int(tax_id)
    except ValueError:
        return None
    
tax_ids = df["tax_id"].apply(clean_tax_id).dropna().astype(int).to_list()

In [16]:
from collections import defaultdict
import pandas as pd

linstats = defaultdict(int)
for tax_id in tqdm(tax_ids):
    if tax_id not in data:
        continue
    tdata = data[tax_id]
    if tdata:
        for lin in tdata["LineageEx"]:
            linstats[lin["TaxId"]] += 1       
dfcount = pd.DataFrame.from_dict(linstats, orient="index", columns=["count"]).sort_values("count", ascending=False)

100%|██████████| 1943014/1943014 [00:01<00:00, 1001868.29it/s]

In [17]:
# export file : dfcount.xlsx

def get_attr(tax_id, attr):
    tax_id = int(tax_id)
    if tax_id in data:
        return data[tax_id].get(attr, "")
    return ""
dfcount["name"] = dfcount.index.map(lambda tax_id: get_attr(tax_id, "ScientificName"))
dfcount["rank"] = dfcount.index.map(lambda tax_id: get_attr(tax_id, "Rank"))
dfcount.to_excel("out/dfcount.xlsx")
dfcount

           count                      name          rank
131567   1941392        cellular organisms       no rank
2        1941392                  Bacteria  superkingdom
3379134  1316225            Pseudomonadati       kingdom
1224     1184764            Pseudomonadota        phylum
1236     1073702       Gammaproteobacteria         class
...          ...                       ...           ...
1567502        1       Brucella suis bv. 5       no rank
2649111        1  unclassified Atopobacter       no rank
34019          1              Liberibacter         genus
344063         1                Oryzihumus         genus
120376         1                    Salana         genus

[6566 rows x 3 columns]

## count by rank

In [18]:
# import networkx as nx
# gtaxo = nx.DiGraph()
# for tax_id, values in data.items():
#     gtaxo.add_node(tax_id)

# gtaxo